<div class="container text-center">
    <h1>Carrito ID: {{dataCart.payload._id}}</h1>
    <div class="container">
            {{#each dataCart.payload.products}}
            <div class="border">
                <p>Producto: {{this.product.title}}</p>
                <p>Precio:${{this.product.price}}</p>
                <p>Cantidad: {{this.quantity}}</p>
            </div>
            {{/each}}
    </div>
</div>
