<div>
    <h1>Realtime Products</h1>
    
    <div class="container" id="container">

    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>
